// Styles done to the heading
h1{
    font-family: 'Times New Roman', serif;
    font-size: 7em;
    text-align: center;
    justify-content:center;
    height: 100vh;
    padding-top:200px;
    color: #4050B4;
  }