<!-- To Add a Book -->
<mat-card class="add">
  <mat-card-header>
    <mat-card-title>Add New Book</mat-card-title>
    <mat-card-subtitle>{{ addMsg }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addBookForm">
      <!-- Book title column -->
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Book Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="this.Title.invalid">Required</mat-error>
      </mat-form-field>

      <!-- Book Genre column -->
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Book Genre</mat-label>
        <input matInput formControlName="genre" />
        <mat-error *ngIf="this.Genre.invalid">Required</mat-error>
      </mat-form-field>

      <!-- Book Author column -->
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Book Author</mat-label>
        <input matInput formControlName="author" />
        <mat-error *ngIf="this.Author.invalid">Required</mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        color="accent"
        [disabled]="this.addBookForm.invalid"
        (click)="insertBook()"
      >
        ADD
      </button>
    </form>
  </mat-card-content>
</mat-card>

<!-- To Delete a Book -->
<mat-card class="delete">
  <mat-card-header>
    <mat-card-title>Delete Existing Book</mat-card-title>
    <mat-card-subtitle>{{ delMsg }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Book Id</mat-label>
        <input matInput [formControl]="deleteBookForm" />
        <mat-error *ngIf="this.deleteBookForm.invalid">Required</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      color="warn"
      [disabled]="this.deleteBookForm.invalid"
      (click)="deleteBook()"
    >
      Delete
    </button>
  </mat-card-actions>
</mat-card>
